button.btn-propose {
    background-color:transparent !important;
    border: none;
    color: royalblue;
    text-align: center;
    text-decoration: none;
    padding: 0;
    cursor: pointer;    
}
